.product-card{
    margin-bottom: 50px;
}


.product-card img{
    height: 300px;
    object-fit: cover;
}


.product-card button{
    background-color:#d7b373; 
    color:#242d56;  
    border-radius: 10px 10px;
    border: 5px
}